{% extends "layout.html" %}

{% block content %}

<style>
	.split {
		position: absolute;
		z-index: 1;
	}

	.left {
		left: 0;
		width: 30%;
		height: 100%;
	}

	.right {	
	  right: 0;
	  width: 70%;
	  height: 100%;
	}

	.centered {
		position: absolute;
		top: 40%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
	}

	.centered img, h2 {
		width: 1000px;
		height: 1000px;
		object-fit: contain;
	}
</style>

<div>
	<div class="split left">
	  <div class="centered">
		<img src="https://app.exrey.tv/images/wall/unavailable.jpg" alt="Generic Film" ><
	  </div>
	</div>

	<div class="split right">
		{% block film_outline_content %}{% endblock %}
	</div>	
</div>
{% endblock content %}